<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>
<main>
    <h1>Hello From Spring Web Application Example</h1>
    <a th:href="@{/greeting}">Submit Greeting Message</a>
</main>
</body>
</html>